#generalHero {
  /* height: 90vh; */
  width: 100vw;
  background: whitesmoke;
  /* background-image: url("../../../public/assets/andreapugliese/andreap2.jpeg"); */
  /* background-image: url("../../../public/assets/andreapugliese/andreap6.jpeg"); */
  /* background-image: url("../../../public/assets/andreapugliese/andreap5.jpeg"); */
  background-image: url("../../../public/assets/andreapugliese/andreap.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  animation: HeroChanginHeight 2s linear forwards;
}
@keyframes HeroChanginHeight {
  0% {
    height: 100vh;
  }
  100% {
    height: 100vh;
  }
}

.filterblue {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

#heroLine > div:first-child {
  letter-spacing: 0.35em;
}
#heroLine > div {
  animation: puff-in-center 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
#learnmoreButton {
  background-color: white;
  color: black;
  box-shadow: 00px 0px 20px 10px rgba(0, 0, 0, 0.2);
  transition: all.8s;
  position: relative;
  top: 75px;
}
#learnmoreButton:hover {
  box-shadow: 00px 0px 20px 10px rgba(245, 245, 245, 0.2);
  font-size: 0.9em;
  cursor: pointer;
}

.col-list {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 300px) {
  #chef1,
  #chef2,
  #chef3 {
    height: 60vh;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 400px) {
  .slidingbg {
    height: 35vh;
    width: 25vw;
    padding: 10px;
    transition: all 0.4s linear;
  }
}
@media screen and (max-width: 400px) {
  .slidingbg {
    height: 35vh;
    width: 50vw;
    padding: 5px;
    transition: all 0.4s linear;
  }
}
.slidingbg > div {
  border-radius: 5px;
}
.chef1 {
  background: url("../../../public/assets/andreapugliese/chef1.jpeg");
}
.chef2 {
  background: url("../../../public/assets/andreapugliese/chef2.jpeg");
}
.chef3 {
  background: url("../../../public/assets/andreapugliese/chef3.jpeg");
}
.chef4 {
  background: url("../../../public/assets/andreapugliese/chef6.jpeg");
}
.chef5 {
  background: url("../../../public/assets/andreapugliese/chef5.jpeg");
}
.chef6 {
  background: url("../../../public/assets/andreapugliese/chef7.jpeg");
}
.chef1,
.chef2,
.chef3,
.chef4,
.chef5,
.chef6 {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: grayscale(1) sepia(0.25);
  transition: all 0.8s;
  z-index: 0;
}

#requestButton {
  box-shadow: 00px 0px 20px 10px rgba(0, 0, 0, 0.2);
  transition: all.8s;
}
#requestButton:hover {
  box-shadow: 00px 0px 20px 10px rgba(245, 245, 245, 0.2);
  font-size: 0.85em;
  cursor: pointer;
}
#sliderContainer {
  min-height: 70vh;
  display: flex;
}
#slide {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
.chef1:hover,
.chef2:hover,
.chef3:hover,
.chef4:hover,
.chef5:hover,
.chef6:hover {
  cursor: pointer;
  filter: grayscale(0) sepia(0);
  scale: 1.07;
  z-index: 1111;
}
#subHero {
  width: 100vw;
  margin-top: 20vh;
}
.bluebordertop1 {
  color: var(--dark2);
  border-top: 2px solid var(--dark2);
  padding-top: 5px;
  text-shadow: 0 0 15px var(--dark2);
}
.bluebordertop {
  box-shadow: 0 0 10px 1px rgba(100, 100, 100, 0.1);
  color: var(--dark2);
  border-top: 1px solid var(--dark2);
}
.blueborderbottom {
  color: var(--dark2);
  border-bottom: 1px solid var(--dark2);
}

.imgbg1 {
  background: url("../../../public/assets/andreapugliese/chef2.jpeg");
}
.imgbg2 {
  background: url("../../../public/assets/andreapugliese/chef15.jpeg");
}
.imgbg3 {
  background: url("../../../public/assets/andreapugliese/andreap4.jpeg");
}
.imgbg1,
.imgbg2,
.imgbg3 {
  height: 45vh !important;
  background-size: 68vh;
  background-position: center;
  transition: all 2.8s !important;
}
.imgbg1:hover,
.imgbg2:hover,
.imgbg3:hover {
  cursor: pointer;
  background-size: 88vh;
  filter: grayscale(1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}
.btnLanding {
  background: var(--dark);
  border: 1px solid rgba(169, 169, 169, 0.1);
  transition: all 0.8s;
  color: white;
}
.btnLandingSm {
  background: var(--light);
  border: 1px solid rgba(169, 169, 169, 0.1);
  transition: all 0.8s;
  color: var(--dark2);
}
.btnLanding:hover,
.btnLandingSm:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  background: var(--contrast);
  color: var(--dark2);
}

.imgbg1sm {
  background: url("../../../public/assets/andreapugliese/chef2.jpeg");
}
.imgbg2sm {
  background: url("../../../public/assets/andreapugliese/chef6.jpeg");
}
.imgbg3sm {
  background: url("../../../public/assets/andreapugliese/andreap4.jpeg");
}

.imgbg1sm,
.imgbg2sm,
.imgbg3sm {
  height: 45vh !important;
  background-size: 93vh;
  background-position: center;
  transition: all 2.8s !important;
}
.imgbg1sm:hover,
.imgbg2sm:hover,
.imgbg3sm:hover {
  cursor: pointer;
  background-size: 115vh;
  filter: grayscale(1);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}
#contactInfoContainer {
  margin-top: 200px;
}
.cursorOnHover:hover {
  scale: 1.5;
  cursor: pointer;
}
.cursorOnHover {
  transition: all 0.8s;
}
.phraseContainer {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hideMe {
  0% {
    display: flex !important;
  }
  100% {
    display: none !important;
  }
}
.phraseContainer > span {
  position: absolute;

  width: 100%;
  text-align: center;
  font-size: 1.3em;
  color: var(--light) !important;
}

.text-Italy {
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 8px;
}

.text-Italy::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 0, 0, 0.1)
  );
  filter: blur(8px);
}
.text-Spain {
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 8px;
}

.text-Spain::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,

    rgba(255, 0, 0, 0.1),
    rgba(158, 206, 14, 0.1),
    rgba(255, 0, 0, 0.1)
  );
  filter: blur(8px);
}
.text-Argentina {
  position: relative;
  z-index: 1;
  padding: 5px;
  border-radius: 8px;
}

.text-Argentina::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    rgba(32, 67, 224, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(32, 67, 224, 0.1)
  );
  filter: blur(8px);
}
.shadow-Light {
  text-shadow: 0 0px 5px whitesmoke;
}
.text-LightHover {
  color: var(--light);
}
.imgbg1sm *:hover,
.imgbg1sm *:hover,
.imgbg1sm *:hover {
  text-shadow: 0 0 10px black;
}
