.nav-link {
  transition: all 0.8s !important;
}
.flags {
  transition: all 0.8s;
  font-size: 1.5em;
}
.nav-link:hover {
  font-size: 1.02em !important;
  color: var(--contrast) !important;
  /* text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8); */
  cursor: pointer !important;
  font-weight: bolder !important;
}
.flags:hover {
  font-size: 1.8em;
  cursor: pointer;
  font-weight: bolder !important;
}

.fs-small {
  font-size: 0.8em;
}

.hamburger,
#hamburger {
  transition: all 0.4s !important;
  color: var(--dark) !important;
}

.hamburger:hover,
#hamburger:hover {
  color: var(--contrast) !important;
  cursor: pointer;
  user-select: none !important;
}

#img-logo {
  transition: all 0.8s;
  width: 100%;
  height: 100%;
}
#img-logoContainer {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 315px) {
  #img-logoContainer {
    width: 150px;
  }
}
@media screen and (min-width: 316px) {
  #img-logoContainer {
    width: 220px;
  }
}

@media screen and (min-width: 500px) {
  #img-logoContainer {
    width: 300px;
  }
}

.bg-smoke {
  background: whitesmoke;
}
@media screen and (orientation: landscape) {
  .nav-link {
    font-size: 0.9em !important;
    background: whitesmoke;
    z-index: 1111;
  }
}
.mh-10 {
  min-height: 10vh;
}
#generalheader {
  min-height: 10vh;
  justify-content: space-between;
  background: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 1111;
}
