#ContactPage {
  background-image: url("../../../public/assets/andreapugliese/piatti/piatto4.jpg");

  background-size: cover;

  background-position: center;
  min-height: 90vh;
}
#ContactPage .col {
  transition: all 0.8s;
}

#ContactPage > div {
  transition: all 0.8s;
  background: rgba(0, 0, 0, 0.75) !important;
}
#ContactPage > div:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}

.minh10 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  color: var(--light);
  letter-spacing: 0.15em;
}
.changeColor2 {
  text-decoration: none;
  color: var(--contrast);
  transition: all 0.82s;
}
.cursorOnHover2:hover {
  scale: 1.03;
  cursor: pointer;
  color: var(--contrast);
}

.cursorOnHover2 {
  transition: all 0.82s;
}
.text-Dark2 {
  text-decoration: none;
  transition: all 0.82s;
  color: var(--light);
  transition: all 0.8s;
}
.text-Dark2:hover {
  color: var(--contrast);
}
.icon-fixed-size {
  width: 24px;
  height: 24px;
  flex-shrink: 0; /* Impedisce il ridimensionamento */
}
.icon-dancing {
  animation: bounce-up 0.6s linear infinite;
}
@keyframes bounce-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.miniscale {
  transition: all 0.8s;
}
.miniscale:hover {
  scale: 1.1;
}
.getInTouch:hover {
  text-shadow: 0 0 10px rgb(155, 155, 155);
  scale: 1.05;
  cursor: pointer;
}
