#aboutMe {
  min-height: 90vh;
  background-image: url("../../../public/assets/andreapugliese/andreap.jpeg");
  /* background-image: url("../../../public/assets/andreapugliese/chef13.jpeg");*/
  /* background-image: url("../../../public/assets/andreapugliese/bg/bg-chef5.jpg"); */
  background-size: cover;
  background-position: center;
  color: var(--light);
  transition: all 0.8s;
}
.filterdark2 {
  transition: all 0.8s;
  min-height: 90vh;
  background: rgba(0, 0, 0, 0.75);
}

.filterdark2:hover {
  background: rgba(0, 0, 0, 0.85) !important;
}

.ls-2 {
  transition: all 0.8s;
  letter-spacing: 0.45em;
}
.ls-1 {
  display: flex;
  letter-spacing: 0.18em;
  word-spacing: 0.55em;
  line-height: 1.2em;
  font-weight: bold;
  transition: all 0.8s;
}

@media screen and (min-width: 1800px) {
  #aboutMe * {
    font-size: 1.1em;
  }
  #aboutMe .ls-2 {
    font-size: 2.6em !important;
  }
  .ls-1 {
    padding-top: 50px;
  }
}
#aboutMe * {
  text-shadow: 0 0 5px black;
}
@media screen and (max-width: 1199px) {
  #aboutMe * {
    font-size: 1.07em;
  }
  #aboutMe .ls-2 {
    font-size: 2.4em !important;
  }
  .ls-1 {
    padding-top: 0px;
  }
}
@media screen and (max-width: 800px) {
  #aboutMe * {
    font-size: 0.99em;
  }
  .ls-1 {
    padding-top: 0px;
  }
}

.MyCarousels .carousel-control-next-icon {
  background-color: black !important;
  padding: 30px;
  border-radius: 50%;
}
.MyCarousels .carousel-control-prev-icon {
  background-color: black !important;
  padding: 30px;
  border-radius: 50%;
}
.instasvg {
  width: 500px !important;
  height: 500px !important;
}
.carousel-control-prev {
  height: 50%;
  margin: auto;
}
.carousel-control-next {
  height: 50%;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .MyCarousels .carousel-control-next,
  .MyCarousels .carousel-control-prev {
    display: none !important;
  }
}
.carousel-indicators * {
  box-shadow: inset 0 10px 5px #000;
}
.bg-smokegray {
  background: whitesmoke;
}
.littleShadow {
  box-shadow: 0 0 20px 1px #00000072;
}
.MyCarousels .carousel-indicators {
  position: absolute;
  top: 600px;
}
.mediaCarousel {
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 700px) {
  .mediaCarousel {
    width: 80%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1700px) {
  .mediaCarousel {
    width: 50%;
  }
}
iframe > * {
  padding: 0px !important;
}
@media screen and (max-width: 500px) {
  .flexsize {
    width: 100%;
  }
}
@media screen and (min-width: 501px) and (max-width: 750px) {
  .flexsize {
    width: 70%;
  }
}
@media screen and (min-width: 751px) and (max-width: 1000px) {
  .flexsize {
    width: 50%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 15000px) {
  .flexsize {
    width: 55%;
  }
}
.Qui:hover {
  color: whitesmoke !important;
  background: green !important;
  cursor: pointer;
}
.Qui {
  transition: all 0.9s;
}
