#aboutMe {
  min-height: 90vh;
  /* background-image: url("../../../public/assets/andreapugliese/andreap5.jpeg"); */
  background-image: url("../../../public/assets/andreapugliese/chef13.jpeg");
  background-size: cover;
  background-position: center;
  color: var(--light);
  transition: all 0.8s;
}
.ls-2 {
  transition: all 0.8s;
  letter-spacing: 0.45em;
}
.ls-1 {
  display: flex;
  letter-spacing: 0.18em;
  word-spacing: 0.55em;
  line-height: 1.2em;
  font-weight: bold;
  transition: all 0.8s;
}

@media screen and (min-width: 1800px) {
  #aboutMe * {
    font-size: 1.1em;
  }
  #aboutMe .ls-2 {
    font-size: 2.6em !important;
  }
  .ls-1 {
    padding-top: 50px;
  }
}
#aboutMe * {
  text-shadow: 0 0 5px black;
}
@media screen and (max-width: 1199px) {
  #aboutMe * {
    font-size: 1.07em;
  }
  #aboutMe .ls-2 {
    font-size: 2.4em !important;
  }
  .ls-1 {
    padding-top: 0px;
  }
}
@media screen and (max-width: 800px) {
  #aboutMe * {
    font-size: 0.99em;
  }
  .ls-1 {
    padding-top: 0px;
  }
}
.filterdark2 {
  transition: all 0.8s;
  min-height: 90vh;
  background: rgba(0, 0, 0, 0.8);
}

.filterdark2:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}
.MyCarousels .carousel-control-next-icon {
  background-color: black !important;
  padding: 30px;
  border-radius: 50%;
}
.MyCarousels .carousel-control-prev-icon {
  background-color: black !important;
  padding: 30px;
  border-radius: 50%;
}
.instasvg {
  width: 500px !important;
  height: 500px !important;
}
.carousel-control-prev {
  height: 50%;
  margin: auto;
}
.carousel-control-next {
  height: 50%;
  margin: auto;
}
