#cookingClass {
  min-height: 90vh;
  background-image: url("../../../public/assets/andreapugliese/andreap5.jpeg");
  background-size: cover;
  background-position: left;
}
.brightonhover {
  transition: all 0.8s;
}
.brightonhover:hover {
  background: rgba(135, 135, 135, 0.5);
  color: var(--contrast);
  cursor: pointer;
  scale: 1.1;
  box-shadow: 0 0 10px 10px rgba(135, 135, 135, 0.2);
}
#cookingAside {
  /* background-image: url("../../../public/assets/img/bgabstract.avif"); */
  background: whitesmoke;
  background-size: cover;
  min-height: 40vh;
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  font-size: 1em;
  color: var(--lightDark);
}
#cookingAside > div {
  padding: 2vh 15vw;
  /* background: rgba(0, 0, 0, 0.3); */
  min-height: 40vh;
  transition: all 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cookingAside > div:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--contrast);
}
#cookingClass > div {
  padding-bottom: 5vh;
}
@media screen and (max-device-height: 459px) {
  #cookingClass > div {
    padding-top: 18vh;
  }
}

@media screen and (min-device-height: 460px) {
  #cookingClass > div {
    padding-top: 10vh;
    padding: 10vh;
  }
}

#PrivateChef {
  transition: all 0.8s;
}

#PrivateChef {
  background: whitesmoke;
}
#PrivateChef > div:first-child {
  color: var(--light);
}
.bg-lightGrey {
  background-color: rgb(27, 27, 27);
}
#PrivateChef > .bg-menu {
  background: whitesmoke;
  color: var(--lightDark);
}
.bg-menu > div {
  transition: all 0.8s;
}
.bg-menu > div:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light);
}
.bg-menu > div > div > div:hover {
  scale: 1.03;
  color: var(--contrast);
  cursor: pointer;
}
.bg-menu > div > div > div {
  padding: 10px 0;
  transition: all 0.8s;
}
.darker-1 {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.8s;
}
.darker-1:hover {
  background: rgba(0, 0, 0, 0.7);
}
.textIconDancing > a {
  color: var(--light);
}
.textIconDancing:hover {
  cursor: pointer;
}
.selectedSection {
  background: rgba(0, 0, 0, 0.6) !important;
  color: var(--contrast);
  scale: 1.06;
}
