@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Junge&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Junge&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./animation.css");
@import url("../src/Components/LandingPage/landing.css");
@import url("../src/Components/1-Navbar/navbar.css");
@import url("../src/Components/AboutMePage/aboutM.css");
@import url("../src/Components/CookingClassPage/cookingClass.css");
@import url("../src/Components/LoadingPage/loading.css");
@import url("../src/Components/ContactPage/contactPage.css");
:root {
  --dark: #131d3a;
  --dark2: #080f22;
  --darkLight: #1d496e;
  --light: rgb(247, 226, 210);
  --contrast: #e3d26f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
* {
  /* font-family: 'Glass Antiqua', cursive; */
  font-family: "Junge", cursive;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 400;
  /* font-style: normal; */
}

body {
  overflow-x: hidden !important;
}
.mtNeces {
  margin-top: 10vh;
}
.bg-Dark {
  background: var(--dark) !important;
}
.bg-Darker {
  background: var(--dark2) !important;
}
.bg-White {
  background: var(--white) !important;
}

.bg-DarkLight {
  background: var(--darkLight) !important;
}
.bg-Contrast {
  background: var(--contrast) !important;
}
.text-Dark {
  color: var(--dark) !important;
}
.text-Dark {
  color: var(--dark2) !important;
}
.text-White {
  color: var(--white) !important;
}
.text-Light {
  color: var(--light) !important;
}
.text-DarkLight {
  color: var(--darkLight) !important;
}
.text-Contrast {
  color: var(--contrast) !important;
}
.iconFooter {
  color: var(--dark2);
  transition: all 0.8s;
}
.iconFooter:hover {
  color: var(--darkLight);
  scale: 1.2;
}
.ShadowEffectBott {
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.5);
}

.ShadowLightEffect {
  box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.5);
}

.ShadowEffectTop {
  background: #e3d26f;
}
